/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  letter-spacing: 1px;
  color: #484848;
}

/* Main Page Css */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo h2 {
  font-weight: 400;
}

.menu a {
  color: #ff5a5f;
  text-decoration: none;
}

.menu a:not(:last-child) {
  margin-right: 1rem;
}

main {
  margin: 1rem;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book {
  margin: 1rem;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  border-radius: 0.25rem;
  position: relative;
}

.book-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.book a {
  color: #484848;
  text-decoration: none;
  display: block;
  width: 100%;
}

.top-book {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-section a {
  color: #ff5a5f;
  display: inline;
}

.btn-section a:not(:last-child) {
  margin-right: 0.7rem;
}

a.book-url {
  margin-bottom: 1rem;
}

a.tag {
  display: inline;
  background: #ff5a5f;
  color: #fff;
  padding: 5px 7px;
  border-radius: 0.25rem;
  font-size: 12px;
}

i.fas.fa-heart {
  color: #ff5a5f;
  position: absolute;
  right: 1rem;
  font-size: 20px;
}

i.fa-thumbs-down,
i.fa-thumbs-up {
  color: #ff5a5f;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 20px;
}

form.book-form {
  max-width: 441px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

h2.form-title {
  font-size: 25px;
  font-weight: 400;
  color: #ff5a5f;
}

.book-form input,
textarea {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 16px;
  padding: 5px;
  border: solid 1px #e5e5e5;
  font-weight: 400;
  border-radius: 0.25rem;
  color: #484848;
}

textarea {
  height: 5rem;
}

button.save.btn.btn-default {
  padding: 0.5rem;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 1rem;
  background: #ff5a5f;
  width: 100%;
  color: #fff;
  border: solid 1px #ff5a5f;
  border-radius: 0.25rem;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

#lines {
  display: none;
  cursor: pointer;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .books-container {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, 50%);
  }
  .menu {
    display: none;
  }

  #lines {
    display: block;
  }

  span.line {
    height: 3px;
    width: 30px;
    background: #ff5a5f;
    display: block;
    margin: 5px 0;
    border-radius: 0.25rem;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    height: 100%;
    background: #fe5151;
    left: -270px;
    top: 0;
    z-index: 10;
    width: 270px;
    transition: all 0.3s;
    padding: 3rem;
    text-align: center;
  }

  .mobile-menu a {
    color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    text-align: left;
    text-decoration: none;
  }

  .mobile-menu.toggled {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
  }
}

@media only screen and (max-width: 500px) {
  .books-container {
    grid-template-columns: 1fr;
  }

  .book {
    margin: 1rem 0;
  }
}
